<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css">
    <!---->  

    <title>Welcome Friends!</title>
  </head>
  <body>
    <header> 
      <h1>Welcome Friends!</h1>
    <nav>
        <ul>
          <li><a href="#">Home</a></a></li>
          <li><a href="#">About</a></a></li>
          <li><a href="#">Contact</a></a></li>
        </ul>
      </nav>

    </header>

    <h3>Upload a File </h3>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <label for="file">Choose a file:</label>
      <input type="file" id="file" name="file" required />
      <button type="submit">Upload</button>
    </form>

    <main>
      <p>Good to have you here!</p>
    </main>
    <footer>
      <p>&copy; 2025 Website. </p>
    </footer>

  </body>
</html>
